## Build generated
build/
DerivedData/

## Ignore config
Config.xcconfig

## User settings
xcuserdata/
Fitness.xcodeproj/xcuserdata/thomasgoss.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
Fitness.xcodeproj/xcuserdata/thomasgoss.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
combined_output.txt
.DS_Store
Shared/Test Case JSON Files/.DS_Store
Shared/.DS_Store
.DS_Store
filtered_output.txt
*.xcconfig
**/.DS_Store
